@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 300px;
  height: 300px;
}

body {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-color: #09090b;
  color: #fafafa;
}

#root {
  width: 100%;
  height: 100%;
}
